Repository hashgraph/hedera-sdk-js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SimiHunjan, @ochikov, @petreze, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

.github/CODEOWNERS:

# Default code owners for entire repository
*   @SimiHunjan @ochikov @petreze @hashgraph/release-engineering @hashgraph/release-engineering-managers

#########################
#####  Core Files  ######
#########################

# NOTE: Must be placed last to ensure enforcement over all other rules

# Protection Rules for Github Configuration Files and Actions Workflows
/.github/                                       @hashgraph/release-engineering @hashgraph/release-engineering-managers

# Codacy Tool Configurations
/config/                                        @hashgraph/release-engineering @hashgraph/release-engineering-managers
.remarkrc                                       @hashgraph/release-engineering @hashgraph/release-engineering-managers

# Self-protection for root CODEOWNERS files (this file should not exist and should definitely require approval)
/CODEOWNERS                                      @hashgraph/release-engineering @hashgraph/release-engineering-managers

# Protect the repository root files
/README.md                                      @hashgraph/release-engineering @hashgraph/release-engineering-managers
**/LICENSE                                      @hashgraph/release-engineering @hashgraph/release-engineering-managers

# CodeCov configuration
**/codecov.yml                                  @hashgraph/release-engineering @hashgraph/release-engineering-managers

# Git Ignore definitions
**/.gitignore                                   @hashgraph/release-engineering @hashgraph/release-engineering-managers
**/.gitignore.*                                 @hashgraph/release-engineering @hashgraph/release-engineering-managers

fix: duplicate transactions
  src/query/Query.js
Owners: @SimiHunjan, @ochikov, @petreze, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

update: integration tests
  src/query/Query.js
  test/integration/ContractFunctionParametersIntegrationTest.js
  test/integration/FileContentsIntegrationTest.js
  test/integration/FreezeTransactionIntegrationTest.js
  test/integration/NftAllowancesIntegrationTest.js
  test/integration/TransactionReceiptIntegrationTest.js
  test/integration/client/BaseIntegrationTestEnv.js
Owners: @SimiHunjan, @ochikov, @petreze, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

update: github workflow
  .github/workflows/build.yml
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers

update: github workflow (alpha.12)
  .github/workflows/build.yml
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers

update: increase the query payment for contract queries
  test/integration/ContractFunctionParametersIntegrationTest.js
Owners: @SimiHunjan, @ochikov, @petreze, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

update: github workflow (alpha.12)
  .github/workflows/build.yml
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers

update: github workflow (alpha.11)
  .github/workflows/build.yml
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers

update: tests
  test/integration/ContractCallIntegrationTest.js
Owners: @SimiHunjan, @ochikov, @petreze, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

update: increase the balance
  test/integration/ContractFunctionParametersIntegrationTest.js
  test/integration/client/BaseIntegrationTestEnv.js
Owners: @SimiHunjan, @ochikov, @petreze, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

chore: formatting
  src/query/Query.js
  test/integration/ContractCallIntegrationTest.js
  test/integration/ContractFunctionParametersIntegrationTest.js
  test/integration/FileContentsIntegrationTest.js
  test/unit/AccountInfoMocking.js
Owners: @SimiHunjan, @ochikov, @petreze, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

update: github workflow
  .github/workflows/build.yml
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers

chore: formatting
  test/integration/ContractCallIntegrationTest.js
  test/integration/ContractFunctionParametersIntegrationTest.js
Owners: @SimiHunjan, @ochikov, @petreze, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

update: unit test
  test/integration/ContractFunctionParametersIntegrationTest.js
  test/unit/AccountInfoMocking.js
Owners: @SimiHunjan, @ochikov, @petreze, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

update: github workflow (0.48)
  .github/workflows/build.yml
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers

update: test again....
  test/integration/FreezeTransactionIntegrationTest.js
Owners: @SimiHunjan, @ochikov, @petreze, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

chore: remove log
  test/integration/FreezeTransactionIntegrationTest.js
Owners: @SimiHunjan, @ochikov, @petreze, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

update: github workflow (0.49.0-alpha.3)
  .github/workflows/build.yml
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers

update: integration tests
  test/integration/AccountCreateIntegrationTest.js
  test/integration/AccountDeleteIntegrationTest.js
  test/integration/AccountUpdateIntegrationTest.js
  test/integration/FileCreateIntegrationTest.js
  test/integration/NftAllowancesIntegrationTest.js
  test/integration/TokenUpdateIntegrationTest.js
  test/unit/AccountInfoMocking.js
Owners: @SimiHunjan, @ochikov, @petreze, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

update: github workflow (alpha.12)
  .github/workflows/build.yml
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers

chore: network tag
  .github/workflows/build.yml
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers

chore: test
  test/integration/TokenAllowancesIntegrationTest.js
Owners: @SimiHunjan, @ochikov, @petreze, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

chore: network tag
  .github/workflows/build.yml
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers

chore: adjustments
  test/integration/TokenAllowancesIntegrationTest.js
  test/integration/TokenUpdateIntegrationTest.js
Owners: @SimiHunjan, @ochikov, @petreze, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

update: tests
  test/integration/NftAllowancesIntegrationTest.js
  test/integration/TokenAllowancesIntegrationTest.js
Owners: @SimiHunjan, @ochikov, @petreze, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

Update update-nfts-metadata-of-non-fungible-token.js
  examples/update-nfts-metadata-of-non-fungible-token.js
Owners: @SimiHunjan, @ochikov, @petreze, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

update: examples
  examples/update-fungible-token-metadata-with-admin-key.js
  examples/update-fungible-token-metadata-with-metadata-key.js
Owners: @SimiHunjan, @ochikov, @petreze, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

chore: test change
  examples/update-nfts-metadata-of-non-fungible-token.js
Owners: @SimiHunjan, @ochikov, @petreze, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

chore: removed commented code, improved comments on setMaxAutomaticTokenAssociations
  examples/update-nfts-metadata-of-non-fungible-token.js
Owners: @SimiHunjan, @ochikov, @petreze, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

chore: refactored open to opened
  examples/update-nfts-metadata-of-non-fungible-token.js
Owners: @SimiHunjan, @ochikov, @petreze, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

fix: integration tests
  test/integration/ContractCreateIntegrationTest.js
  test/integration/ContractDeleteIntegrationTest.js
Owners: @SimiHunjan, @ochikov, @petreze, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

update: network tag(0.49.0-alpha.5)
  .github/workflows/build.yml
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers

chore: update network tag 0.49.0-alpha.5
  .github/workflows/build.yml
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers

update: network tag 0.49.1
  .github/workflows/build.yml
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers

chore: typo
  test/integration/ContractCallIntegrationTest.js
Owners: @SimiHunjan, @ochikov, @petreze, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

fix: solve backward compatibility issues between the SDK and hedera-services v0.49 (modularized code) (#2240)
  .github/workflows/build.yml
  src/query/Query.js
  test/integration/AccountCreateIntegrationTest.js
  test/integration/AccountDeleteIntegrationTest.js
  test/integration/AccountUpdateIntegrationTest.js
  test/integration/ContractCallIntegrationTest.js
  test/integration/ContractCreateIntegrationTest.js
  test/integration/ContractDeleteIntegrationTest.js
  test/integration/ContractFunctionParametersIntegrationTest.js
  test/integration/FileContentsIntegrationTest.js
  test/integration/FileCreateIntegrationTest.js
  test/integration/FreezeTransactionIntegrationTest.js
  test/integration/NftAllowancesIntegrationTest.js
  test/integration/SystemIntegrationTest.js
  test/integration/TokenAllowancesIntegrationTest.js
  test/integration/TokenUpdateIntegrationTest.js
  test/integration/TransactionReceiptIntegrationTest.js
  test/unit/AccountInfoMocking.js
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @SimiHunjan, @ochikov, @petreze

update: proto package version
  packages/proto/package.json
Owners: @SimiHunjan, @ochikov, @petreze, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

update: examples
  examples/update-fungible-token-metadata-with-admin-key.js
  examples/update-fungible-token-metadata-with-metadata-key.js
  examples/update-nfts-metadata-of-non-fungible-token.js
Owners: @SimiHunjan, @ochikov, @petreze, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

chore: formatting
  test/integration/TokenUpdateIntegrationTest.js
Owners: @SimiHunjan, @ochikov, @petreze, @hashgraph/release-engineering, @hashgraph/release-engineering-managers
