Repository hashgraph/hedera-sdk-js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SimiHunjan, @ochikov, @petreze, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

Updated trigger in renovate for workflow dispatch
  .github/workflows/renovate.yml
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers

updated renovate to include self-hosted linux runner
  .github/workflows/renovate.yml
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers

update: network tag to 0.48.0
  .github/workflows/build.yml
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers

chore: fix typo
  .github/workflows/build.yml
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers

chore(ci): update the publish workflow to release the cryptography and proto artifacts if needed (#2198)
  .github/workflows/publish_release.yaml
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers

fix: integer overflow isuue for defaultMaxQueryPayment field (#2213)
  src/client/Client.js
  test/integration/ClientIntegrationTest.js
Owners: @SimiHunjan, @ochikov, @petreze, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

update: add a new getter to the TransferTransaction class (#2214)
  src/account/TransferTransaction.js
  test/unit/TransferTransaction.js
Owners: @SimiHunjan, @ochikov, @petreze, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

fix: set correct autoRenrewAccountId (#2217)
  .github/workflows/build.yml
  src/token/TokenCreateTransaction.js
  test/integration/TokenCreateIntegrationTest.js
  test/integration/TokenInfoIntegrationTest.js
  test/integration/TokenUpdateIntegrationTest.js
  test/unit/TokenCreateTransaction.js
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @SimiHunjan, @ochikov, @petreze

update: version
  package.json
Owners: @SimiHunjan, @ochikov, @petreze, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

update: changelog
  CHANGELOG.md
Owners: @SimiHunjan, @ochikov, @petreze, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

update: network tag to 0.48.0
  .github/workflows/build.yml
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers

release: stable version 2.44.0 (#2262)
  CHANGELOG.md
  package.json
Owners: @SimiHunjan, @ochikov, @petreze, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

Removed commented out self-hosted runners where they should be removed
  .github/workflows/react_native.yml
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers

fix: typo on PrivateKey.fromBytes warning
  packages/cryptography/src/PrivateKey.js
Owners: @SimiHunjan, @ochikov, @petreze, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

feature: mutable metadata fields for dynamic NFTs
  examples/update-nfts-metadata.js
  package.json
  pnpm-lock.yaml
  src/exports.js
  src/token/TokenCreateTransaction.js
  src/token/TokenInfo.js
  src/token/TokenNftsUpdateTransaction.js
  src/token/TokenUpdateTransaction.js
  test/integration/TokenNftsUpdateTransactionIntegrationTest.js
Owners: @SimiHunjan, @ochikov, @petreze, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

update: TokenCreateTransaction class and related intergration test
  src/token/TokenCreateTransaction.js
  test/integration/TokenCreateIntegrationTest.js
Owners: @SimiHunjan, @ochikov, @petreze, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

update: TokenInfo class and integration test
  examples/hts-nftP1-fee-create-mint-burn-associate-transfer.js
  src/token/TokenInfo.js
  test/integration/TopicInfoIntegrationTest.js
Owners: @SimiHunjan, @ochikov, @petreze, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

chore: formatting
  src/token/TokenInfo.js
Owners: @SimiHunjan, @ochikov, @petreze, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

update: TokenUpdateTransaction class and integration test
  src/token/TokenUpdateTransaction.js
  test/integration/TokenNftsUpdateTransactionIntegrationTest.js
  test/integration/TokenUpdateIntegrationTest.js
Owners: @SimiHunjan, @ochikov, @petreze, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

update: update examples
  examples/update-nfts-metadata.js
  examples/update-token-metadata.js
Owners: @SimiHunjan, @ochikov, @petreze, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

update: integration tests
  test/integration/TokenInfoIntegrationTest.js
  test/integration/TokenNftsUpdateTransactionIntegrationTest.js
Owners: @SimiHunjan, @ochikov, @petreze, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

update: adding all integration tests
  src/token/TokenNftsUpdateTransaction.js
  test/integration/TokenCreateIntegrationTest.js
  test/integration/TokenNftsUpdateTransactionIntegrationTest.js
  test/integration/TokenUpdateIntegrationTest.js
Owners: @SimiHunjan, @ochikov, @petreze, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

chore: formatting
  examples/update-nfts-metadata.js
  src/token/TokenCreateTransaction.js
  src/token/TokenInfo.js
  src/token/TokenUpdateTransaction.js
  test/integration/TokenUpdateIntegrationTest.js
Owners: @SimiHunjan, @ochikov, @petreze, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

update: example
  examples/update-nfts-metadata.js
Owners: @SimiHunjan, @ochikov, @petreze, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

update: add tests for fungible token
  test/integration/TokenUpdateIntegrationTest.js
Owners: @SimiHunjan, @ochikov, @petreze, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

update: integration tests
  test/integration/TokenUpdateIntegrationTest.js
Owners: @SimiHunjan, @ochikov, @petreze, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

update: unit tests
  test/unit/TokenCreateTransaction.js
  test/unit/TokenUpdateTransaction.js
Owners: @SimiHunjan, @ochikov, @petreze, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

chore: proto version
  package.json
  pnpm-lock.yaml
Owners: @SimiHunjan, @ochikov, @petreze, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

update: examples for fungible token
  examples/update-fungible-token-metadata-with-admin-key.js
  examples/update-fungible-token-metadata-with-metadata-key.js
  examples/update-nfts-metadata.js
Owners: @SimiHunjan, @ochikov, @petreze, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

update: integration tests
  test/integration/TokenUpdateIntegrationTest.js
Owners: @SimiHunjan, @ochikov, @petreze, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

chore: network tag
  .github/workflows/build.yml
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers

chore: formatting
  test/integration/TokenUpdateIntegrationTest.js
Owners: @SimiHunjan, @ochikov, @petreze, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

Added hardened runner step
  .github/workflows/build.yml
  .github/workflows/common_js.yml
  .github/workflows/pages.yml
  .github/workflows/publish_release.yaml
  .github/workflows/react_native.yml
  .github/workflows/renovate.yml
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers

update: examples
  examples/update-fungible-token-metadata-with-admin-key.js
  examples/update-fungible-token-metadata-with-metadata-key.js
  examples/update-nfts-metadata-of-non-fungible-token.js
Owners: @SimiHunjan, @ochikov, @petreze, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

update: integration tests
  test/integration/TokenUpdateIntegrationTest.js
Owners: @SimiHunjan, @ochikov, @petreze, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

chore: network tag
  .github/workflows/build.yml
  test/integration/TokenUpdateIntegrationTest.js
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @SimiHunjan, @ochikov, @petreze

chore: network tag
  .github/workflows/build.yml
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers

fix: integration tests
  test/integration/AccountCreateIntegrationTest.js
  test/integration/AccountDeleteIntegrationTest.js
  test/integration/AccountUpdateIntegrationTest.js
  test/integration/FileCreateIntegrationTest.js
  test/integration/NftAllowancesIntegrationTest.js
  test/integration/SystemIntegrationTest.js
  test/integration/TokenUpdateIntegrationTest.js
Owners: @SimiHunjan, @ochikov, @petreze, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

chore: formatting
  test/integration/AccountCreateIntegrationTest.js
  test/integration/AccountUpdateIntegrationTest.js
  test/integration/FileCreateIntegrationTest.js
  test/integration/SystemIntegrationTest.js
Owners: @SimiHunjan, @ochikov, @petreze, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

update: integration tests
  test/integration/AccountCreateIntegrationTest.js
  test/integration/AccountDeleteIntegrationTest.js
  test/integration/AccountUpdateIntegrationTest.js
Owners: @SimiHunjan, @ochikov, @petreze, @hashgraph/release-engineering, @hashgraph/release-engineering-managers

.github/CODEOWNERS:

# Default code owners for entire repository
*   @SimiHunjan @ochikov @petreze @hashgraph/release-engineering @hashgraph/release-engineering-managers

#########################
#####  Core Files  ######
#########################

# NOTE: Must be placed last to ensure enforcement over all other rules

# Protection Rules for Github Configuration Files and Actions Workflows
/.github/                                       @hashgraph/release-engineering @hashgraph/release-engineering-managers

# Codacy Tool Configurations
/config/                                        @hashgraph/release-engineering @hashgraph/release-engineering-managers
.remarkrc                                       @hashgraph/release-engineering @hashgraph/release-engineering-managers

# Self-protection for root CODEOWNERS files (this file should not exist and should definitely require approval)
/CODEOWNERS                                      @hashgraph/release-engineering @hashgraph/release-engineering-managers

# Protect the repository root files
/README.md                                      @hashgraph/release-engineering @hashgraph/release-engineering-managers
**/LICENSE                                      @hashgraph/release-engineering @hashgraph/release-engineering-managers

# CodeCov configuration
**/codecov.yml                                  @hashgraph/release-engineering @hashgraph/release-engineering-managers

# Git Ignore definitions
**/.gitignore                                   @hashgraph/release-engineering @hashgraph/release-engineering-managers
**/.gitignore.*                                 @hashgraph/release-engineering @hashgraph/release-engineering-managers
